:root {
    --primary-color: #ec442b;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --star-gold-color: #ffc73e;
    
    --navbar-height: 34px;
    --header-height: 120px;
    --header-with-search-height : calc(var(--header-height) - var(--navbar-height));

}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 16px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Responsive */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* Test */
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    /* width: 300px;
    height: 300px; */
    /* background-color: var(--white-color); */
    margin: auto;
    position: relative;
    z-index: 1;
    /* border-radius: 5px; */
    animation: growth linear 0.1s;
}

/* Button style*/
.btn {
    min-width: 124px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    font-size: 1.5rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 0 12px;
    line-height: 1.6rem;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--size-s {
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.btn--disabled {
    cursor: default;
    color: #ccc;
    background-color: #999;
}

/* Selection */

.select-input:hover .select-input__list {
    display: block;
}

.select-input {
    position: relative;
    height: 34px;
    padding: 0 12px;
    min-width: 200px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon {
    /* min-width: 200px; */
    font-size: 1.4rem;
    color: #4A4A4A;
    position: relative;
    top: 1px;
}

.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 16px;
    list-style: none;
    display: none;
    z-index: 1;
}

.select-input__link {
    display: block;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 0;
}

.select-input__link:hover {
    color: var(--primary-color);
}