.header {
    height: var(--header-height);
    background-image: linear-gradient(0,#ff5a30,#f5372c);
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user {
    display: flex;
    justify-content: center;
    position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-user-menu {
    position: absolute;
    padding-left: 0;
    top: calc(100% + 4px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    width: 160px;
    list-style: none;
    z-index: 1;
    box-shadow: 0 1px 5px #999;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.header__navbar-user-menu::before {
    content: "";
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
    border-width: 20px 26px;
    border-style: solid;
}

.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 56%;
    height: 8px;
}

.header__navbar-user-item {

}

.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 8px 16px;
    display: block;
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover {
    background-color: #fafafa;
}



.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover  {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #ffffff;
    height: 14px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon-link:nth-child(2) {
    margin-left: 3px;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* HEADER QR CODE */

.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.5s;
}

.header__qr::before {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

/*  ----------------------------  */


/* .header__qr-link:first-child {

} */

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}



/*  ----------------------------  */


.header__qr-download-img {
    height: 16px;
}

/* HEADER NOTIFICATION */

.header__notify {
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    background-color: var(--white-color);
    cursor: default;
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    transform-origin: calc(100% - 20px) top;
    display: none;
    z-index: 1;
}

.header__notify::before {
    content: "";
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
    border-width: 20px 26px;
    border-style: solid;
}

.header__notify::after {
    content: "";
    position: absolute;
    width: 90px;
    right: 0;
    top: -16px;
    height: 20px;
    display: block;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);

}

.header__notify-header h3 {
    color: #999;
    margin: 0;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 40px;
    margin: 0 0 0 12px;
    user-select: none;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    /* display: flex; */
}

.header__notify-item:hover {
    background-color: #f1f1f1;
}

.header__notify-item--viewed {
    background-color: rgba(236, 68, 43, 0.1);

}

.header__notify-link {
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    color: #6b6463;
    line-height: 1.6rem;
    margin-top: 4px;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 0px;
    font-size: 1.4rem;
    font-weight: 400;
    width: 100%;
    text-align: center;
}

/* Authen modal */
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}



.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials--facebook {
    background-color: #3A5A98;
    color: var(--white-color);
}

/* .auth-form__socials--facebook
.auth-form__socials-icon {
    color: var(--white-color);
} */

.auth-form__socials-title {
    margin: 0 36px;
}

.auth-form__socials--google {
    background-color: var(--white-color);
    color: #666;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;

}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #888888;
}

.auth-form__help-separate {
    display: block;
    border-left: 1px solid var(--border-color);
    height: 17px;
    margin: 0px 16px 0px;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

/* HEADER WITH SEARCH */

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    text-decoration: none;
    color: transparent;
}

.header__logo-img {
    width: 150px;
    color: var(--white-color);
}

.header__search {
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
}

.header__cart {
    width: 150px;
    text-align: center;
    position: relative;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}


.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 6px;
}

.header__cart-list {
    position: absolute;
    top: 135%;
    right: -3px;
    background-color: var(--white-color);
    width: 410px;
    border-radius: 2px;
    box-shadow: 0 1px 5rem rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    
}

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #f7f7f7;
}

.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover {
    background-color: #f0533c;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid var(--border-color);
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #6b6b6b;
}

.header__cart-item-qnt {
    color: #6b6b6b;
    font-size: 1.2rem;

}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description {
    color: #6b6b6b;
    font-size: 1.2rem;
    font-weight: 300;
}

.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-list::before {
    cursor: pointer;
    content: "";
    position: absolute;
    right: -1px;
    top: -30px;
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    /* display: none; */
}

.header__cart-list--no-cart {
    padding: 28px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
    display: block;   
    margin-left: auto;
    margin-right: auto; 
}


.header__cart-no-cart-img {
    width: 60%;
    display: none;
}

.header__cart-list-no-cart-msg {
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}

.header__cart-notice {
    position: absolute;
    padding: 1px 7px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #ec442b;
    top: -4px;
    right: -5px;
}

.header__search-input-wrap {
    flex: 1;
    position: relative;
    height: 100%;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-select {
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: #4A4A4A;
    margin: 0 8px 0 4px;
    position: relative;
    top: 1px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
}

.header__search-btn:hover {
    background-color: #fb6445;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.6rem;
    color: var(--white-color);
}

.header__search-option {
    position: absolute;
    right: 0;
    top: 140%;
    width: 130px;
    list-style: none;
    box-shadow: 0px 1px 3px #ccc;
    padding-left: 0;
    border-radius: 2px;
    /* overflow: hidden; */
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.header__search-option::before {
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    /* background-color: violet; */
    top: -20px;
    position: absolute;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
    /* text-align: right; */
}

.header__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history {
    display: block;    
}

/* SEARCH HISTORY */
.header__search-history {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px #999;
    display: none;
    overflow: hidden;
}

.header__search-history-heading {
    margin: 8px 12px;
    font-size: 1.6rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin:6px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

/* .header__search-history-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
} */

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

/* App container*/
.app__container {
    background-color: #f5f5f5;
}

.app__content {
    padding-top: 36px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    color: var(--text-color);
    font-size: 1.7rem;
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin: 0 0 23px 0;
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1;
}

.category-list {
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 7px;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    content: "";
    position: absolute;    
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    top: 50%;    
    left: 7px;
    transform: translateY(-50%);
}

.category-item__link {
    font-size: 1.5rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 16px;
    display: block;
    position: relative;
    right: 0;
    transition: right linear 0.1s;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}

/* Home sort + filter */
